/* default settings */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: 'Inter', sans-serif;
    color: white;
}

a {
	text-decoration: none;
	color: currentColor;
}

ul,
ol,
menu {
	list-style: none;
}

img {
	max-width: 100%;
}

figure > img {
	display: block;
	width: 100%;
}

.row {
    display: flex;
}

/* colours */
:root {
    --main-view: #141922;
    --toolbar: #282828;
    --dark-grey: #5A5A5A;
    --grey: #A3A3A3;
    --light-grey: #D2D2D2;
    --green: #ADFF2F;
}


/* @media (min-width: 639px) { ... }

@media (min-width: 878px) { ... }

@media (min-width: 1440px) { ... } */


/* app */
#app {
	height: 100vh;
    overflow: hidden;
	display: flex;
	flex-direction: column;
}

/* app__content */
.app__content {
    flex-grow: 1;
    overflow: hidden;
    display: flex;
}

/* sidebar */
.sidebar {
    background-color: black;
	width: 50px;
	flex-shrink: 0;
    overflow: hidden;
}

@media (min-width: 639px) {
    .sidebar {
        width: 230px;
    }
}



/* main-view */
.main-view {
    background-color: var(--main-view);
	flex-grow: 1;
	overflow: auto;
}

/* app__toolbar */
.app__toolbar {
    overflow: hidden;
    background-color: var(--toolbar);
    min-height: 90px;
    padding: 0 10px 8px;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;
}

/* controls-left, controls-right */
.controls-left i,
.controls-right i {
    color: var(--grey);
    width: 17px;
    padding: 0 5px;
}

.controls-left i:hover,
.controls-right i:hover {
    color: white;
}

.controls-left {
    align-items: center;
    gap: 10px;
}

.listening {
    white-space: nowrap;
    align-items: center;
    gap: 10px;
}

.listening figure {
    min-height: 30px;
    max-width: calc(30px + 1.3vw);
    aspect-ratio: 1;
	object-fit: cover;
}

.listening__text {
    flex-direction: column;
}

.listening__text .author {
    font-size: 12px;
    font-weight: 800;
}

.listening__text .title {
    font-size: 10px;
    font-weight: 600;
    color: var(--grey);
}

.app__toolbar .icons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.controls-right {
    flex-wrap: wrap;
    gap: 10px;
}

.volume {
    flex-wrap: nowrap;
    align-items: center;
    gap: 15px;
}

/* playback-bar */
.playback-bar {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 14px;
    padding: 0 10px;
}

.playback-bar__icons {
    gap: 30px;
    align-items: center;
}

.play-icon {
    font-size: 30px;
}

.side-icons {
    font-size: 16px;
    gap: 20px;
}

.timeline {
    align-items: center;
    gap: 10px;
}

.timeline span {
    font-size: 10px;
    font-weight: 600;
}

.bar-dark-grey {
    width: 85px;
    height: 4px;
    background-color: var(--dark-grey);
    border-radius: 50px;
    position: relative;
}

.bar-light-grey {
    width: 20%;
    height: 100%;
    background-color: var(--light-grey);
    border-radius: 50px;
}

.timeline .bar-dark-grey {
    min-width: calc(25vw);
}

.handler {
    position: absolute;
    background-color: white;
    border-radius: 999px;
    width: 12px;
    height: 12px;
    left: 20%;
    bottom: -4px;
    display: none;
}

.bar-dark-grey:hover .bar-light-grey {
    background-color: var(--green);
}

.bar-dark-grey:hover .handler {
    display: block;
}

/* DEBUG */
/* .debug .app__content {
    border: solid 3px aquamarine;
    padding: 20px;
}

.debug .sidebar {
	border: solid 3px royalblue;
	padding: 20px;
}

.debug .main-view {
    border: solid 3px orange;
    padding: 20px;

}

.debug .app__toolbar {
    border: solid 3px palevioletred;
    padding: 20px;
} */
.debug aside div {
    border: solid 3px yellow;
    padding: 20px;
}