/* default settings */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: 'Inter', sans-serif;
    color: white;
}

a {
	text-decoration: none;
	color: currentColor;
}

ul,
ol,
menu {
	list-style: none;
}

img {
	max-width: 100%;
}

figure > img {
	display: block;
	width: 100%;
}

.row {
    display: flex;
}

/* colours */
:root {
    --main-view: #141922;
    --toolbar: #282828;
    --grey: #A3A3A3;
    --light-grey: #D2D2D2;
}


/* @media (min-width: 639px) { ... }

@media (min-width: 878px) { ... }

@media (min-width: 1440px) { ... } */


/* app */
#app {
	height: 100vh;
    overflow: hidden;
	display: flex;
	flex-direction: column;
}

/* app__content */
.app__content {
    flex-grow: 1;
    overflow: hidden;
    display: flex;
}

/* sidebar */
.sidebar {
    background-color: black;
	width: 50px;
	flex-shrink: 0;
}

@media (min-width: 639px) {
    .sidebar {
        width: 230px;
    }
}

/* main-view */
.main-view {
    background-color: var(--main-view);
	flex-grow: 1;
	overflow: auto;
}

/* app__toolbar */
.app__toolbar {
    background-color: var(--toolbar);
    min-height: 90px;
    flex-shrink: 0;
    justify-content: space-between;
}

.playback-bar {
    flex-direction: column;
}


/* DEBUG */
/* .debug .app__content {
    border: solid 3px aquamarine;
    padding: 20px;
}

.debug .sidebar {
	border: solid 3px royalblue;
	padding: 20px;
}

.debug .main-view {
    border: solid 3px orange;
    padding: 20px;

}

.debug .app__toolbar {
    border: solid 3px palevioletred;
    padding: 20px;
} */
.debug aside div {
    border: solid 3px yellow;
    padding: 20px;
}